In [43]:
# Setup Dependencies
import pandas as pd

In [44]:
# Read csv file and create a dataframe
nyc_crime_df = pd.read_csv("Resources/crime.csv")

In [45]:
# Preview the DataFrame
nyc_crime_df.head()

,CMPLNT_NUM,CMPLNT_FR_DT,ADDR_PCT_CD,KY_CD,OFNS_DESC,PD_DESC,LAW_CAT_CD,BORO_NM,LOC_OF_OCCUR_DESC,PREM_TYP_DESC,SUSP_AGE_GROUP,SUSP_RACE,SUSP_SEX,Latitude,Longitude,VIC_AGE_GROUP,VIC_RACE,VIC_SEX,Zip Codes,City Council Districts
0,238492873,1/1/22,13.0,344,ASSAULT 3 & RELATED OFFENSES,ASSAULT 3,MISDEMEANOR,MANHATTAN,FRONT OF,STREET,18-24,ASIAN / PACIFIC ISLANDER,M,40.742572,-73.993047,25-44,WHITE HISPANIC,M,12073.0,10.0
1,238543254,1/1/22,46.0,106,FELONY ASSAULT,STRANGULATION 1ST,FELONY,BRONX,OPPOSITE OF,RESIDENCE - PUBLIC HOUSING,18-24,BLACK,M,40.847284,-73.919966,45-64,BLACK,M,10931.0,29.0
2,238539307,1/1/22,81.0,348,VEHICLE AND TRAFFIC LAWS,LEAVING SCENE-ACCIDENT-PERSONA,MISDEMEANOR,BROOKLYN,(null),STREET,(null),(null),(null),40.678871,-73.921646,25-44,BLACK HISPANIC,M,13516.0,17.0
3,238570209,1/1/22,32.0,121,CRIMINAL MISCHIEF & RELATED OF,"MISCHIEF, CRIMINAL 3 & 2, OF M",FELONY,MANHATTAN,FRONT OF,RESIDENCE - PUBLIC HOUSING,UNKNOWN,UNKNOWN,M,40.820368,-73.938143,25-44,BLACK,F,12427.0,36.0
4,238514229,1/1/22,63.0,351,CRIMINAL MISCHIEF & RELATED OF,"CRIMINAL MISCHIEF,UNCLASSIFIED 4",MISDEMEANOR,BROOKLYN,FRONT OF,RESIDENCE-HOUSE,(null),(null),(null),40.625805,-73.935833,45-64,BLACK,F,17217.0,26.0

In [46]:
# Drop the columns that are not needed  
columns_to_drop = ['KY_CD', 'ADDR_PCT_CD', 'PD_DESC', 'LOC_OF_OCCUR_DESC', 'PREM_TYP_DESC', 'SUSP_AGE_GROUP', 'SUSP_RACE','SUSP_SEX', 'VIC_AGE_GROUP', 'VIC_RACE', 'VIC_SEX', 'Zip Codes', 'City Council Districts']
nyc_crime_df = nyc_crime_df.drop(columns=columns_to_drop)   
nyc_crime_df.head()

,CMPLNT_NUM,CMPLNT_FR_DT,OFNS_DESC,LAW_CAT_CD,BORO_NM,Latitude,Longitude
0,238492873,1/1/22,ASSAULT 3 & RELATED OFFENSES,MISDEMEANOR,MANHATTAN,40.742572,-73.993047
1,238543254,1/1/22,FELONY ASSAULT,FELONY,BRONX,40.847284,-73.919966
2,238539307,1/1/22,VEHICLE AND TRAFFIC LAWS,MISDEMEANOR,BROOKLYN,40.678871,-73.921646
3,238570209,1/1/22,CRIMINAL MISCHIEF & RELATED OF,FELONY,MANHATTAN,40.820368,-73.938143
4,238514229,1/1/22,CRIMINAL MISCHIEF & RELATED OF,MISDEMEANOR,BROOKLYN,40.625805,-73.935833

In [47]:
# Rename columns})
nyc_crime_df.index = ["" for _ in range(len(nyc_crime_df))]
nyc_crime_df = nyc_crime_df.rename(columns={'CMPLNT_NUM':'Complaint No.', 'CMPLNT_FR_DT':'Complaint Date', 'OFNS_DESC': 'Offense',	'LAW_CAT_CD': 'Law Cat', 'BORO_NM': 'Borough'})
nyc_crime_df.head()

,Complaint No.,Complaint Date,Offense,Law Cat,Borough,Latitude,Longitude
,238492873,1/1/22,ASSAULT 3 & RELATED OFFENSES,MISDEMEANOR,MANHATTAN,40.742572,-73.993047
,238543254,1/1/22,FELONY ASSAULT,FELONY,BRONX,40.847284,-73.919966
,238539307,1/1/22,VEHICLE AND TRAFFIC LAWS,MISDEMEANOR,BROOKLYN,40.678871,-73.921646
,238570209,1/1/22,CRIMINAL MISCHIEF & RELATED OF,FELONY,MANHATTAN,40.820368,-73.938143
,238514229,1/1/22,CRIMINAL MISCHIEF & RELATED OF,MISDEMEANOR,BROOKLYN,40.625805,-73.935833

In [48]:
# Check the data types
nyc_crime_df.dtypes

Complaint No.      object
Complaint Date     object
Offense            object
Law Cat            object
Borough            object
Latitude          float64
Longitude         float64
dtype: object

In [49]:
# Export cleaned csv file to Resources folder

pd.DataFrame.to_csv(nyc_crime_df, 'shrunk_crime.csv', index=False)